main.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

    form {
        max-width: 400px;
    }
    
    #error {
        color: var(--danger);
    }
    
    @media (max-width: 480px) {
        .logo > h1 {
            display: block;
        }
    }
}

