main.new-place {
    display: flex;
    flex-direction: row;
    justify-content: center;

    > div {
        flex: 1;
    }
    
    .title-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .title-bar button {
        font-size: 16px;
        padding: 0.5em 1em;
        display: block;
        border: none;
        border-radius: 0.5em;
        font-family: 'Roboto', sans-serif;
        background-color: var(--danger);
        color: black;
        cursor: pointer;
    }

    .content {
        display: flex;
        gap: 1em;
    }
    
    .map {
        height: 70vh;
        flex: 2;
    }
    
    form {
        flex: 1;
    }

    @media (width <= 1400px) {
        .content {
            flex-direction: column;
        }

        .map, form {
            flex: auto;
        }
    }
}

  