@import "main.css";

main {
    padding: 1em 2em;
}

.event-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.event {
    background-color: var(--bg-3);
    border-radius: 1em;
    max-width: 400px;
    overflow: hidden;
    cursor: pointer;
}

.event .body {
    padding: 0em 1em;
}

.event .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cl-2);
}

.countdown {
    color: var(--cl-2);
}