:root {
    --bg-1: #0d1117;
    --bg-2: #010409;
    --bg-3: #161b22;

    --cl-1: #e6edf3;
    --cl-2: #848d97;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-1);
    color: var(--cl-1);
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--cl-1);
}

header, footer {
    background-color: var(--bg-2);
    color: var(--cl-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
}

header nav {
    margin-block: auto;
}

header menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header menu > li {
    list-style: none;
}


